test/userPreferences.*
build/*
OTP.xcodeproj/project.xcworkspace/*
OTP.xcodeproj/xcuserdata/*
OTP.xcodeproj/xcshareddata/*
test/Project/DerivedData/*
Objs/*
.vs/*
test/Data/*
test/Plugins/OTP.bundle/Contents/Windows64/OTP.exp
test/Plugins/OTP.bundle/Contents/Windows64/OTP.lib
